.组_4 {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 640rem;
    height: 1008rem;
    z-index: 91;
}
.NO11T {
    background-image: url("../img/NO11T.png");
    position: absolute;
    left: 138rem;
    top: 740rem;
    width: 45rem;
    height: 13rem;
    z-index: 90;
}
.NO1V {
    background-image: url("../img/NO1V.png");
    position: absolute;
    left: 175rem;
    top: 702rem;
    width: 51rem;
    height: 10rem;
    z-index: 89;
}
.NO11NEi {
    background-image: url("../img/NO11NEi.png");
    position: absolute;
    left: 116rem;
    top: 673rem;
    width: 117rem;
    height: 96rem;
    z-index: 88;
}
.NO11 {
    background-image: url("../img/NO11.png");
    position: absolute;
    left: 69rem;
    top: 596rem;
    width: 185rem;
    height: 272rem;
    z-index: 87;
}
.NO10 {
    background-image: url("../img/NO10.png");
    position: absolute;
    left: 206rem;
    top: 583rem;
    width: 209rem;
    height: 246rem;
    z-index: 86;
}
.NO9NEI {
    background-image: url("../img/NO9NEI.png");
    position: absolute;
    left: 393rem;
    top: 613rem;
    width: 134rem;
    height: 170rem;
    z-index: 85;
}
.NO9 {
    background-image: url("../img/NO9.png");
    position: absolute;
    left: 367rem;
    top: 553rem;
    width: 200rem;
    height: 295rem;
    z-index: 84;
}
.NO8NEI {
    background-image: url("../img/NO8NEI.png");
    position: absolute;
    left: 398rem;
    top: 451rem;
    width: 123rem;
    height: 121rem;
    z-index: 83;
}
.NO8 {
    background-image: url("../img/NO8.png");
    position: absolute;
    left: 411rem;
    top: 427rem;
    width: 158rem;
    height: 165rem;
    z-index: 82;
}
.NO7NEI {
    background-image: url("../img/NO7NEI.png");
    position: absolute;
    left: 255rem;
    top: 529rem;
    width: 98rem;
    height: 77rem;
    z-index: 81;
}
.NO7 {
    background-image: url("../img/NO7.png");
    position: absolute;
    left: 230rem;
    top: 467rem;
    width: 174rem;
    height: 186rem;
    z-index: 80;
}
.NO6NEI {
    background-image: url("../img/NO6NEI.png");
    position: absolute;
    left: 123rem;
    top: 486rem;
    width: 109rem;
    height: 125rem;
    z-index: 79;
}
.NO6 {
    background-image: url("../img/NO6.png");
    position: absolute;
    left: 71rem;
    top: 459rem;
    width: 189rem;
    height: 173rem;
    z-index: 78;
}
.NO5T {
    background-image: url("../img/NO5T.png");
    position: absolute;
    left: 334rem;
    top: 371rem;
    width: 55rem;
    height: 17rem;
    z-index: 77;
}
.NO5V {
    background-image: url("../img/NO5V.png");
    position: absolute;
    left: 429rem;
    top: 356rem;
    width: 58rem;
    height: 38rem;
    z-index: 76;
}
.NO5NEI {
    background-image: url("../img/NO5NEI.png");
    position: absolute;
    left: 318rem;
    top: 382rem;
    width: 112rem;
    height: 75rem;
    z-index: 75;
}
.NO5 {
    background-image: url("../img/NO5.png");
    position: absolute;
    left: 277rem;
    top: 301rem;
    width: 283rem;
    height: 192rem;
    z-index: 74;
}
.NO4NEI {
    background-image: url("../img/NO4NEI.png");
    position: absolute;
    left: 155rem;
    top: 378rem;
    width: 114rem;
    height: 92rem;
    z-index: 73;
}
.NO4T {
    background-image: url("../img/NO4T.png");
    position: absolute;
    left: 212rem;
    top: 384rem;
    width: 61rem;
    height: 16rem;
    z-index: 72;
}
.NO4 {
    background-image: url("../img/NO4.png");
    position: absolute;
    left: 90rem;
    top: 344rem;
    width: 222rem;
    height: 152rem;
    z-index: 71;
}
.NO3NEI {
    background-image: url("../img/NO3NEI.png");
    position: absolute;
    left: 331rem;
    top: 255rem;
    width: 182rem;
    height: 69rem;
    z-index: 70;
}
.NO3 {
    background-image: url("../img/NO3.png");
    position: absolute;
    left: 287rem;
    top: 221rem;
    width: 245rem;
    height: 118rem;
    z-index: 69;
}
.NO2NEI {
    background-image: url("../img/NO2NEI.png");
    position: absolute;
    left: 138rem;
    top: 268rem;
    width: 160rem;
    height: 93rem;
    z-index: 68;
}

.NO2 {
    background-image: url("../img/NO2.png");
    position: absolute;
    left: 75rem;
    top: 205rem;
    width: 245rem;
    height: 190rem;
    z-index: 67;
}
.NO1NEI {
    background-image: url("../img/NO1NEI.png");
    position: absolute;
    left: 269rem;
    top: 148rem;
    width: 88rem;
    height: 82rem;
    z-index: 66;
}
.NO1 {
    background-image: url("../img/NO1.png");
    position: absolute;
    left: 243rem;
    top: 87rem;
    width: 154rem;
    height: 179rem;
    z-index: 65;
}

._010 {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 640rem;
    height: 1008rem;
    z-index: 147;
}
.组_13 {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 640rem;
    height: 1008rem;
    z-index: 281;
}
"duihua1.png","NO1.png","NO2NEI.png","NO5T.png","NO9.png","duihua2.png","NO10.png","NO3.png","NO5V.png","NO9NEI.png","begin.png","duihua3.png","NO11.png","NO3NEI.png","NO6.png","only.png","bg.jpg,duihua4.png","NO11NEI.png","NO4.png","NO6NEI.png"," p1-1.png"
,"btn_again.png","hammer.png","NO11T.png","NO4NEI.png","NO7.png","p1.png","btn_ham.png","loading.png","NO1NEI.png"," NO4T.png","NO7NEI.png","shupin.png","btn_pk.png","logo.png","NO1V.png","NO5.png","NO8.png","color_clock.png","mask.png","NO2.png","NO5NEI.png","NO8NEI.png"
.btn_pk {
    background-image: url("../img/btn_pk.png");
    background-size: cover;
    position: absolute;
    left: 1.59rem;
    top: 8.84rem;
    width: 3.23rem;
    height: .70rem;

}
.btn_again {
    background-image: url("../img/btn_again.png");
    background-size: cover;
    position: absolute;
    left: 1.59rem;
    top: 7.98rem;
    width: 3.23rem;
    height: .70rem;
}
.hk {
    position: absolute;
    left: 0;
    width: 100%;
    top: 3.18rem;
}
.date {
    font-size: .80rem;
    left: 0;
    width: 100%;
    position: absolute;
    left: 2.60rem;
    top: 1.67rem;
}
.text1 {
    font-size: .40rem;
    position: absolute;
    left: 1.59rem;
    top: 2.71rem;
}
.insist {
    font-size: .18rem;
    position: absolute;
    left: 0;
    width: 100%;
    top: 4.23rem;
}
.count {
    font-size: .20rem;
    position: absolute;
    left: 0;
    width: 100%;
    top: 4.73rem;
}
.only {
    background-image: url("../img/only.png");
    position: absolute;
    top: 3.47rem;
    width: 5.10rem;
    height: 4.19rem;
}
.text2 {
    font-size: .20rem;
    position: absolute;
    left: 1.83rem;
    top: 6.40rem;
}

